:root {
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.6);
  --extra-opacity-black: rgba(0, 0, 0, 0.4);
  --light-black: rgba(0, 0, 0, 0.3);
  --extra-light-black: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --extra-opacity-white: rgba(255, 255, 255, 0.7);
  --middle-opacity-white: rgba(255, 255, 255, 0.6);
  --opacity-white: rgba(255, 255, 255, 0.3);
  --light-opacity-white: rgba(255, 255, 255, 0.1);
  --basic-grey: #464646;
  --light-grey: #f2f2f2;
  --additional-grey: #a6a6a6;
  --extra-light-grey: #eaeaea;
  --basic-half-grey: #7e7e7e;
  --basic-light-grey: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-dark-yellow: rgb(240, 197, 46);
  --middle-opacity-yellow: rgba(240, 197, 46, 0.5);
  --opacity-dark-yellow: rgba(240, 197, 46, 0.6);
  --extra-opacity-yellow: rgba(240, 197, 46, 0.3);
  --special-light-pink: #f6dada;

}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Global */
body {
  min-width: 1460px;
  margin: 0px;
  padding: 0px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
}

/* Grid for pages */

.catalog-page .container {
  display: grid;
  grid-template-columns: 468px 1fr;
  align-content: start;
  min-width: 1440px;
}

.catalog-page .page-title {
  grid-column: 1 / -1;

  margin: 0;
  margin-left: 200px;
  margin-bottom: 30px;
  padding: 0;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

 .breadcrumbs {
  grid-column: 1 / -1;

   padding-bottom: 50px;
}
  /* Container */

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
}

.user-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1040px;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  margin-bottom: 86px;
}

.catalog-page .container {
  box-sizing: border-box;
  width: 1440px;
  margin: 0;
  padding: 0px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

/*  Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin-top: 40px;
  margin-left: 140px;
  background-color: var(--special-yellow);
}
.inner-page .main-navigation {
margin-bottom: 44px;


}

.user-navigation-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  width: 1040px;
}

.header-logo {
  position: relative;
  width: 163px;
  height: 35px;
  left: 60px;
  top: -17.5px;
  margin-bottom: 29px;

}


/* Navigation */
.user-navigation,
.navigation-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-link-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0;
  margin-bottom: 164px;
  padding: 0;
}

.navigation-link-wrapper .navigation-item {
  margin-right: 38px;
}

.inner-page .site-navigation {
  margin-bottom: 50px;
}


.site-navigation,
.site-footer-navigation {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--opacity-black);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--light-black);
}

.form-search {
  max-width: 144px;
}

.form-search input {
  color: var(--extra-opacity-black);
  background-color: var(--special-yellow);
  border: none;
}

.form-search input:hover {
  color: var(--opacity-black);
}

.form-search input:focus {
  color: var(--basic-black);
}

/* Login link */

.user-link {
  padding-left: 24px;
}

/* Index columns */
.index-columns {

}

.index-columns h2 {
  margin: 0;
  margin-bottom: 50px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.index-columns p {
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}


/* About us */

.about-us {
  width: 473px;
  margin-right: 127px;
}

.delivery {
  list-style: none;
  margin-top: 60px;
  margin-bottom: 84px;

}

.delivery a {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;


}

.delivery-item {
  margin-bottom: 20px;
}


.delivery a:hover,
.delivery a:focus {
  color: var(--opacity-black);
}

.delivery a:active {
  color: var(--light-black);
}

/* Contacts */

.contacts {
  width: 560px;
height: 580px;
}

.contacts img{
  width: 560px;
  height: 222px;
  margin-bottom: 85px;
}

/* Button */
 .button {
  display: inline-block;
   width: 260px;

   text-align: center
}

.columns-button a{
  background-image: linear-gradient(#ffffff 33%, #F0C52E 33%, #F0C52E 66%, #ffffff 66%);
}

.filter button,
.modal-button button {
  border: none;
  outline: none;
  width: 200px;
  background-image: linear-gradient(#ffffff 33%, #F0C52E 33%, #F0C52E 66%, #ffffff 66%);
  background-color: var(--extra-light-grey);
}
.filter button {
  margin-left: 200px;
}

.filter button,
.modal-button button,
.columns-button a{
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter button:hover,
.filter button:focus,
.modal-button button:hover,
.modal-button button:focus,
.columns-button a:hover,
.columns-button a:focus {
  background-color: var(--special-dark-yellow);
  background-image: none;
}

.filter button:active,
.modal-button button:active,
.columns-button a:active {
  color: var(--light-black);
  background-color: var(--special-dark-yellow);
  background-image: none;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  color: var(--light-black);
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:first-child {
  margin-left: 200px;
}

.breadcrumbs li:last-child {

}



.breadcrumbs li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  right:-25px;
  width: 12px;
  height: 12px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item a {
  color: var(--light-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--opacity-black);
}

.breadcrumbs a:active {
  color: var(--extra-light-black);
}

/* Product-cards */

.product-cards {
  margin-left: 72px;
  width: 760px ;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.cards-item {
  width: 360px;
  min-height: 454px;
  margin-right: 40px;
  margin-bottom: 48px;

}
.cards-item:nth-child(2n) {
  margin-right: 0px;
}


.cards-item-price h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-top: 30px;


}

.cards-item-image {
  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 30px;
}
.cards-item .card-link {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cards-item-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.cards-item-price b {
  width: 100px;
  margin-top: 30px;
  text-align: end;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;


}

/* Filters */

.filters {
  width: 468px;
  background-color: var(--basic-light-grey);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-left: 200px;
  margin-bottom: 40px;
  border: none;
}

.filter fieldset:last-child {
  margin-bottom: 53px;
}

.filter legend {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  list-style: none;
}

.filter label {
  font-size: 14px;
  line-height: 19px;

}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  padding-left: 42px;
  margin-bottom: 20px;

}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -4px;
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  background-position: center;
}


.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -36px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;

  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-input.disabled + label,
.filter-input:disabled + label {
  color: var(--additional-grey);
}

.filter input {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 2px
}

.filter input:hover,
.filter input:focus {
  opacity: 0.6;
}


.filter input.disabled,
.filter input:disabled {
  cursor: default;
  opacity: 0.25;
}


/* Main footer */


.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  min-width: 1440px;
}



.main-footer a {
  color: var(--basic-white);
}

/* Footer navigation */

.footer-left-column img {
  margin-top: 64px;
  margin-bottom: 40px;

}

.footer-middle-column {
  display: flex;
  flex-direction: column;
}

.login {
  margin-top: 46px;
  text-align: right;
}


.site-footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 423px;
  margin-top: 138px;
  margin-bottom: 67px;
}

.inner-page .site-footer-navigation {
  margin-top: 76px;
}

.social-button {
  display: flex;
  justify-content: space-between;
  width: 136px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.footer-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.user-footer-navigation {
  display: flex;
  justify-content: space-between;

 width: 325px;
  margin-top: 46px;
  margin-bottom: 73px;
}

.footer-right-column a:last-child {
  margin-top: 67px;
  margin-bottom: 64px;
}
.login a,
.footer-right-column a {
  color: var(--extra-opacity-white);
}

.login:hover,
.login:focus,
.footer-right-column a:hover,
.footer-right-column a:focus {
  color: var(--basic-white);
}

.footer-right-column a:active {
  color: var(--opacity-white);
}


.footer-middle-column a:hover,
.footer-middle-column a:focus {
  color: var(--middle-opacity-white);
}

.footer-middle-column a:active {
  color: var(--opacity-white);
}

/* Social button */
.footer-bottom ul {
  list-style: none;
}

.social-button {
  list-style: none;
}

.social-button a{
  color: var(--opacity-white);
}

.social-button a:hover,
.social-button a:focus {
  color: var(--middle-opacity-white);
}

.social-button a:active {
  color: var(--light-opacity-white);
}

/* Modal */

.modal {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.feedback-form p {
  margin: 0;
  margin-bottom: 32px;
}

.feedback-form p:last-child {
  margin-bottom: 54px;
}


.modal label {
  margin:0;

font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

/* Feedback form */

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--extra-opacity-black);
  background-color: var(--light-grey);
  border: none;
}

input {outline: none;}

.feedback-form input:hover {
  background-color: var(--extra-light-grey);
}

.feedback-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);

}

.feedback-form input:invalid {
  background-color: var(--special-light-pink);
  border: none;
}

/* Button - close modal */
.modal button {
  background-color: var(--middle-opacity-yellow);
  border: none;
  outline: none;
}

.modal button:hover,
.modal button:focus {
  background-color: var(--special-dark-yellow);
}

.modal button:active {
  background-color: var(--extra-opacity-yellow);
}

